body
{
    background-color:  lightblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


h1{
    font-size: 36px;
    color:darkslateblue;
    text-align: center;
    margin-bottom: 20px;
    
   
}
h2
{
    text-align: center;
    color:slategray;
    animation: 2s lineup ease-out infinite;
}

}

.image-container {

  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(icegif-818.gif);
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  

}

img
{
  max-width: 100%;
  
}

.red-box {
    width: 100%;
    height: 24px;
    padding: 8px 0; 
    background-color: red;
    text-align: center;
  }
  
  .red-box a {
    color: #fff; 
    font: bold 16px / 1 'Verdana';
    text-decoration: none;
  }
  
  .red-box a:hover {
    opacity: .8;
  }


  .image-container1 {

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0;
}

    .image-container1 img {

  border:3px solid #000;
  transition-duration: 1s;
  
}
    .image-container1 img:hover {

        transform: scale(1.1);


    }




p{
  margin-bottom: 40px;
  text-align: center;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #004ddd 29%,
    #00a0fd 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 2s linear infinite;
  display: inline-block;
      font-size: 80px;
}

    .image-container2 {

    display: flex;
    justify-content: center;

  }


