body
{
    background-color:  lightblue;
    color: slategray;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

h1
{
    font-size: 36px;
    text-align: center;
   
}
h2
{
    text-align: center;
}

.image-container {

  display: flex;
  justify-content: space-between;


}

img
{
  max-width: 100%;
  
}

.red-box {
    width: 100%;
    height: 24px;
    padding: 8px 0; 
    background-color: red;
    text-align: center;
  }
  
  .red-box a {
    color: #fff; 
    font: bold 16px / 1 'Verdana';
    text-decoration: none;
  }
  
  .red-box a:hover {
    opacity: .8;
  }