body
{
    background-color:  lightblue;
    color: slategray;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    font-size: 36px;
    text-align: center;
   
}
h2
{
    text-align: center;
}

.banner
{

    justify-contetnt: space-between;
    filter: alpha(opacity=90);
}

